# Dependency directories
node_modules/

# dotenv environment variables file
.env

/dist

# バグfixのために作成したもの
/_src
# 個人的なメモ書きで使用
/doc

/report.20201126.235915.26772.0.001
/.eslintcache

# 永続化データを対象から外します
docker/db/data

# MacOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
